<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ic</title>
</head>
<body>
  {% include "header.njk" %}
  <main>
    {% include "hero.njk" %}
    {% include "leasing.njk" %}
    {% include "form.njk" %}
    {% include "steps.njk" %}
    {% include "slider.njk" %}
    {% include "we.njk" %}
    {% include "partners.njk" %}
    {% include "contacts.njk" %}
  </main>
  {% include "footer.njk" %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</body>
</html>