<section class="form">
  <div class="form__container">
    <h2 class="h3 form__title">Не нашли подходящий вариант?</h2>
    <div class="form__subtitle">Поможем с подбором предмета лизинга. 
      Заполните форму ниже и наш специалист свяжется с вами в ближайшее время</div>

    <div class="form__bg">
      <img src="../img/bg-form.png" alt="">
    </div>
    <form class="form__form" action="POST">
      <div class="input-wrap">
        <label for="1">Марка авто</label>
        <input id="1" type="text" class="input" placeholder="Марка" name='marka'>
      </div>

      <div class="input-wrap">
        <label for="2">Модель авто</label>
        <input id="2" type="text" class="input" placeholder="Модель авто" name='model'>
      </div>

      <div class="input-wrap">
        <label for="3">Год авто</label>
        <input id="3" type="text" class="input" placeholder="Год авто"  name='year'>
      </div>


      <div class="input-wrap">
        <label for="4">Бюджет авто</label>
        <input id="4" type="text" class="input" placeholder="Бюджет" name='budget'>
      </div>


      <div class="input-wrap">
        <label for="6">Регион поиска</label>
        <input id="6" type="text" class="input" placeholder="Регион" name='region'>
      </div>

      <div class="input-wrap">
        <label for="7">Контактный номер</label>
        <input id="7" type="text" class="input js-tel" placeholder="Номер" name='number'>
      </div>

      <div class="form__bottom">
        <div class="checkbox-wrap">
          <div class="policy__checkbox">
            <input id="p" class="checkbox" name='1'  type="checkbox" checked>
            <label for="p">
              Ознакомлен(а) с условиями <a href="policy.html">политики конфиденциальности</a>
            </label>
          </div>
        </div>

        <button class="btn form__btn" type='submit'>ОСТАВИТЬ ЗАЯВКУ</button>

        <div class='form__sended'>Спасибо, сообщение отправлено</div>
        </div>

    

    </form>

  </div>
</section>
  