<section class="leasing">
  <h2 class='leasing__title h2'>Лизинг </h2>
  <div class="leasing__list">
    <div class="leasing__item _1">
      <h3 class="leasing__item-title h3">Лизинг <br> 
        авто и спецтехники</h3>

      <div class="leasing__item-conditions">
        <div class="leasing__item-conditions-item">
            <div>
              Аванс <span>от 0%</span>
            </div>
             <div>
              Срок <span>до 7 лет</span>
            </div>
        </div>
      </div>

      <div class="leasing__item-docs">
        Минимальный пакет документов:
        <span>паспорт </span>
        <span>реквизиты компании </span>
          
      </div>

       <div class='leasing__item-bottom'>
          <div class="leasing__item-add">*работаем с ООО и 
            ИП от 2-х месяцев
          </div>

          <button class="leasing__item-btn btn open-popup" data-type='main'>Заказать звонок</button>
       </div>
    </div>

    <div class="leasing__item _2">
      <h3 class="leasing__item-title h3">Лизинг <br> 
        оборудования</h3>

      <div class="leasing__item-conditions">
        <div class="leasing__item-conditions-item">
            <div>
              Аванс <span>от 0%</span>
            </div>
            <div>
              Срок <span>до 7 лет</span>
            </div>
        </div>
      </div>

      <div class="leasing__item-docs">
        Минимальный пакет документов:
        <span>паспорт </span>
        <span>реквизиты компании </span>
          
      </div>
       <div class='leasing__item-bottom'>
          <div class="leasing__item-add">*работаем с ООО и  
            ИП от 2-х месяцев
          </div>

          <button class="leasing__item-btn btn open-popup" data-type='main'>Заказать звонок</button>
       </div>
    </div>


    <div class="leasing__item _3">
      <h3 class="leasing__item-title h3">Лизинг коммерческой 
        недвижимости</h3>

      <div class="leasing__item-conditions">
        <div class="leasing__item-conditions-item">
            <div>
              Аванс <span>от 15%</span>
            </div>
            <div>
              Срок <span>до 7 лет</span>
            </div>
        </div>
      </div>

      <div class="leasing__item-docs">
        Минимальный пакет документов:
        <span>паспорт </span>
        <span>реквизиты компании </span>
        <span>фото объекта недвижимости</span>
     
          
      </div>

        <div class='leasing__item-bottom'>
          <div class="leasing__item-add">*работаем с ООО и  
            ИП от 2-х месяцев
          </div>

          <button class="leasing__item-btn btn open-popup" data-type='main'>Заказать звонок</button>
       </div>
    </div>

  </div>
</section>