<section class="partners">
  <div class="partners__container">
    <h2 class="partners__title h2">Наши партнеры</h2>
    <ul class="partners__list">
      <li class="partners__item"> <img src="../img/partners-alfa.svg" alt=""></li>
      <li class="partners__item"> <img src="../img/partners-carcade.svg" alt=""></li>
      <li class="partners__item"> <img src="../img/partners-fera.svg" alt=""></li>
      <li class="partners__item"> <img src="../img/partners-gp.svg" alt=""></li>
      <li class="partners__item"> <img src="../img/partners-premyer.svg" alt=""></li>
      <li class="partners__item"> <img src="../img/partners-realist.svg" alt=""></li>
      <li class="partners__item"> <img src="../img/partners-sb.svg" alt=""></li>
      <li class="partners__item"> <img src="../img/partners-spb.svg" alt=""></li>
      <li class="partners__item"> <img src="../img/partners-vtb.svg" alt=""></li>
    </ul>

    <div class="we__btns">
      <a class=" we__btn btn red" href="../img/bg-form.png" download>Скачать предложение  
        по&nbsp;субсидиям</a>

      <a class=" we__btn btn white" href="../img/bg-form.png" download>Скачать презентацию</a>
    </div>
  </div>
</section>
