

<div class="popup__bg main"> 
  <div class="popup ">
  <img src="../img/close.svg" class="close-popup">
      <div class="popup__content">
          <div class="popup__title h3">Оставить заявку</div>

          <div class="popup__subtitle">Наш менеджер свяжется с вами в ближайшее время</div>

          

          <div class="popup__form-wrap ">
            <form class="popup__form" action="POST">
              <div class="popup__input-wrap input-wrap _tel">
                <div class="error-text">введите имя </div>
                <span> </span>
                <input class="popup__input input " name='popupName' type="text" placeholder="Вашe имя">
              </div>

              <div class="popup__input-wrap input-wrap _tel">
                <div class="error-text">некорректный номер </div>
                <span> </span>
                <input class="popup__input input js-tel" name='popupTel'  type="text" placeholder="Ваш номер телефона">
              </div>
        
              <button class="popup__btn btn">Оставить заявку</button>
              <div class='form__sended'>Спасибо, сообщение отправлено</div>
            </form>
          </div>
  
      </div>
  </div>
</div> 