<section class="slider">
  <div class="slider__container">
    <h2 class="slider__title h2">Параллельный импорт</h2>
    <div class="slider__subtitle">Можно заказать автомобиль, 
      спецтехнику либо оборудование из-за рубежа:</div>
    <div class="slider__countries">
      <div class="slider__country e">Европа,</div>
      <div class="slider__country c">Китай,</div>
      <div class="slider__country t">Турция,</div>
      <div class="slider__country uk">Южная Корея,</div>
    </div>

    <div class="slider__add">Экономия составляет от <span>15% до 50%</span></div>
     
        <div class="slider__slider swiper">
{#           <div class="slider__slider-wrap"> #}
        <div class="swiper-pagination"></div>
{#         <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> #}
          <div class="swiper-wrapper">
            <div class="slider__slide swiper-slide">
              <div class="slider__bg"></div>
              <img class="slider__img" src="../img/CASE_580N.avif" alt="">
              <div class="slider__slide-title-wrap">
                <div class="slider__slide-title">CASE 580</div>
                <div class="slider__slide-btn btn open-popup" data-type='main'>ОСТАВИТЬ ЗАЯВКУ</div>
              </div>
            </div>

            <div class="slider__slide swiper-slide">
              <div class="slider__bg"></div>
              <img  class="slider__img" src="../img/Daf-105.jpeg" alt="">
                   <div class="slider__slide-title-wrap">
                <div class="slider__slide-title">Daf-105</div>
                <div class="slider__slide-btn btn open-popup" data-type='main'>ОСТАВИТЬ ЗАЯВКУ</div>
              </div>
            </div>

            <div class="slider__slide swiper-slide">
              <div class="slider__bg"></div>
              <img  class="slider__img" src="../img/jcb-3cx.jpeg" alt="">
                <div class="slider__slide-title-wrap">
                <div class="slider__slide-title">jcb-3cx</div>
                <div class="slider__slide-btn btn open-popup" data-type='main'>ОСТАВИТЬ ЗАЯВКУ</div>
              </div>
            </div>

            <div class="slider__slide swiper-slide">
              <div class="slider__bg"></div>
              <img  class="slider__img" src="../img/shackman-х3000.jpeg" alt="">
                 <div class="slider__slide-title-wrap">
                <div class="slider__slide-title">SHACMAN X3000</div>
                <div class="slider__slide-btn btn open-popup" data-type='main'>ОСТАВИТЬ ЗАЯВКУ</div>
              </div>
            </div>


            <div class="slider__slide swiper-slide">
              <div class="slider__bg"></div>
              <img  class="slider__img" src="../img/SITRAK-C7H-4×2.jpeg" alt="">
                 <div class="slider__slide-title-wrap">
                <div class="slider__slide-title">SITRAK C7H</div>
                <div class="slider__slide-btn btn open-popup" data-type='main'>ОСТАВИТЬ ЗАЯВКУ</div>
              </div>
            </div>


            
          </div>
{# 
           </div> #}
        </div>
      
   
  </div>
</section>