<section class="steps">
  <div class="steps__container">
    <h2 class="steps__title h2">Этапы работ</h2>
    <ul class="steps__list">
      <li class="steps__item _1">
        <div class="steps__item-title">1</div>
        <div class="steps__item-txt">Оставляете <span class="open-popup" data-type='main'>заявку</span> на сайте либо <a href="tel:+79852722454">позвоните</a> по номеру телефона</div>
      </li>
      <li class="steps__item _2">
        <div class="steps__item-title">2</div>
        <div class="steps__item-txt">Персональный менеджер подбирает для вас 3-5 предложений по условиям и графикам от лизинговых компаний</div>
      </li>
      <li class="steps__item _3">
        <div class="steps__item-title">3</div>
        <div class="steps__item-txt">Собираем документы в едином окне для всех лизинговых компаний</div>
      </li>
      <li class="steps__item _4">
        <div class="steps__item-title">4</div>
        <div class="steps__item-txt">Получаем одобрение, далее вы выбираете с кем работать и на каких условиях</div>
      </li>
      <li class="steps__item _5">
        <div class="steps__item-title">5</div>
        <div class="steps__item-txt">Подписываете договор с лизинговой компаний и забираете предмет лизинга</div>
      </li>
    </ul>

    <div class="steps__btn-wrap">
      <button class="btn steps__btn open-popup" data-type='main'>узнать Детали</button>
      <div class="steps__btn-info">Все этапы работ <span>бесплатны</span></div>
    </div>
  </div>
</section>