<section class="we">
  <div class="we__container">
    <h2 class="we__title h2">Почему мы?</h2>
    <div class="we__subtitle">Работаем по всей территории Российской&nbsp;Федерации, <br>
      включая СКФО и Крым</div>

    <ul class="we__list">
      <li class="we__item _1">
        <div class="we__item-icon">
          <img src="../img/why-we-1.svg" alt="">
        </div>

        <div class="we__item-info">
          <div class="we__item-info-top">
            более <span> 5</span> лет 
          </div>

          <div class="we__item-info-bottom">
           на рынке лизинга
          </div>
        </div>
      </li>

      <li class="we__item _2">
        <div class="we__item-icon">
          <img src="../img/why-we-2.svg" alt="">
        </div>

        <div class="we__item-info">
          <div class="we__item-info-top">
            больше <span> 44</span>  млн
          </div>

          <div class="we__item-info-bottom">
              рублей сэкономили клиентам
          </div>
        </div>
      </li>

      <li class="we__item _3">
        <div class="we__item-icon">
          <img src="../img/why-we-3.svg" alt="">
        </div>

        <div class="we__item-info">
          <div class="we__item-info-top">
            более <span> 33</span> лет 
          </div>

          <div class="we__item-info-bottom">
            машин привезли <br> из-зарубежа
          </div>
        </div>
      </li>

      <li class="we__item _4">
        <div class="we__item-icon">
          <img src="../img/why-we-4.svg" alt="">
        </div>

        <div class="we__item-info">
          <div class="we__item-info-top">
            больше <span> 320</span> млн 
          </div>

          <div class="we__item-info-bottom">
            рублей привлечено
          </div>
        </div>
      </li>
    </ul>

    <div class="we__btns">
      <a class=" we__btn btn red" href="../assets/subsid.pdf" download>Скачать предложение  
        по&nbsp;субсидиям</a>

      <a class="we__btn btn white" href="../assets/prezent.pdf" download>Скачать презентацию</a>
    </div>
  </div>
</section>
