.contacts {
  padding: rem($p-padding-pc);

  @include tablet {
    padding: rem($p-padding-pc) rem($p-padding-tablet);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: calc(rem(1400px) - rem($p-padding-pc)*2);
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      align-items: center;
      max-width: calc(rem(768px) - rem($p-padding-tablet)*2);
    }
  }

  &__subtitle {
    font-size: rem(26px);
    line-height: 110%;
    margin-bottom: rem(16px);
    font-family: $p-font-medium;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(24px);
    
    .label {
      font-size: rem(14px);
      line-height: 110%;
      color: #395d7c;
      margin-bottom: rem(6px);
    }

    .main {
      font-size: rem(18px);
      line-height: 110%;
    }
  }

  &__rigth {
    width: 48%;
    height: rem(350px);
  }
}