.footer {
  background: $p-background-gradient;
  color: #fff;

  &__container {
    padding: rem(54px) rem($p-padding-pc);
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: rem(25px) rem($p-padding-tablet);
    }

    @include mobile {
      padding: rem(25px) rem($p-padding-mobile);
    }

  }

  &__left {
    display: flex;
    align-items: center;
    font-size: rem(14px);
    line-height: 110%;

    @include tablet {
      font-size: rem(12px);
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__right {
    display: flex;

    @include tablet {
      flex-direction: column;
     
    }
  }

  &__link {
    margin: 0 rem(32px);
    @include tablet {
      width: min-content;
    }

    @include mobile {
      margin: 0;
      margin-bottom: rem(16px);
    }
  }

  &__warning {
    max-width: rem(500px);

    span {
      border-bottom: 1px  solid $p-accent-color;

      &:hover {
        cursor: pointer;
      }
    }

    @include tablet {
      max-width: rem(250px);
    }

    @include mobile {
      max-width: rem(180px);
    }
  }
  
  .header__tels {
    margin-left: rem(24px);

    @include tablet {
      margin-right: 0;
      margin-left: 0;
    }

 
  }

  .header__tels-inner {
    @include tablet {
      flex-direction: column;
      margin-bottom: rem(8px);
    }
  }
  
  .header__tel {
    font-size: rem(16px);
    line-height: 110%;

    @include tablet {
      font-size: rem(14px);
    }
  }
}