.footer {
  background: $p-background-gradient;
  color: #fff;
  line-height: 130%;

  &__container {
    padding: rem(54px) rem($p-padding-pc);
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: rem(25px) rem($p-padding-tablet);
    }

    @include mobile {
      padding: rem(25px) rem($p-padding-mobile);
      flex-direction: column;
      align-items: flex-start;
    }

  }

  &__left {
    display: flex;
    align-items: center;
    font-size: rem(14px);
    line-height: 110%;

    @include tablet {
      font-size: rem(12px);
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__left-add {
    display: flex;
    flex-direction: column;
    margin-right: rem(64px);
    // width: rem(150px);

    @include mobile {
      margin-right: 0;
      margin-bottom: rem(8px);
    }
  }

  &__right {
    display: flex;
    align-items: center;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
     
    }
  }

  &__link {
    margin: 0;
    @include tablet {
      width: min-content;
    }

    @include mobile {
      margin: 0;
      width: max-content;
      // margin-bottom: rem(16px);
    }
  }

  &__warning {
    max-width: rem(400px);

    span {
      border-bottom: 1px  solid $p-accent-color;

      &:hover {
        cursor: pointer;
      }
    }

    @include tablet {
      max-width: rem(250px);
    }

    @include mobile {
      max-width: rem(300px);
      margin-bottom: rem(8px);
    }
  }

  .header__logo {
    display: none;
  }
  
  .header__tels {
    margin-left: rem(24px);

    @include tablet {
      margin-right: 0;
      margin-left: 0;
    }

 
  }

  .header__tels-inner {
    @include tablet {
      flex-direction: column;
      margin-bottom: rem(8px);
    }
  }
  
  .header__tel {
    font-size: rem(16px);
    line-height: 110%;
    margin-bottom: 0;

    @include tablet {
      font-size: rem(14px);
    }
  }

  .header__tel:first-child {
    margin-bottom: 0;
  }
}