$b: '.form';

#{$b} {
  position: relative;
  margin-bottom: rem($p-margin-big);
  max-width: rem(1500px);
  margin-right: auto;
  margin-left: auto;

  @include tablet {
    margin-bottom: rem(80px);
  }
  &__container {
    padding: 0 rem($p-padding-pc);

    @include tablet {
      padding: 0 rem($p-padding-tablet);
    }

    @include mobile {
      padding: 0 rem($p-padding-mobile);
    }

  }

  &__bg {
    position: absolute;
    width: rem(860px);
    height: rem(615px);
    right: 0;
    top: rem(125px);

    @include tablet {
      display: none;
    }

    img {
      width: 100%;
      object-fit: contain;
    
    }
  }

  &__title {
    font-family: $p-font-medium;
    font-size: rem(38px);
    line-height: 110%;
    font-weight: 700;
    margin-bottom: rem($p-margin-title);

    @include tablet {
      font-size: rem(32px);
    }
  }

  &__subtitle {
    font-family: $p-font-regular;
    font-size: rem(24px);
    line-height: 110%;
    max-width: rem(542px);
    margin: 0 auto;
    text-align: center;
    margin-bottom: rem(100px);

    @include tablet {
      margin-bottom: rem(50px);
    }

    @include mobile {
      font-size: rem(14px);
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20px);
    max-width: rem(650px);

    @include tablet {
      max-width: 100%;
    }

    @include mobile {
      gap: rem(15px) 0;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    grid-column: span 2
  }

  &__btn {
    @include mobile {
      width: 100%;
    }
  }

  .input-wrap {
    @include mobile {
      grid-column: span 2;
      max-width: 100%;
    }
  }
}