
$b: '.header';

#{$b} {
  // background-color: black;
  color: #fff;
  position: relative;
  z-index: 5;

  &__container {
    padding: rem(40px) rem($p-padding-pc);
    display: flex;
    padding-top: rem(40px);
    justify-content: space-between;
    align-items: center;
    
    @include tablet {
      padding: rem(20px) rem($p-padding-tablet);
      justify-content: flex-start;
    }

    @include mobile {
      padding: rem(20px) rem($p-padding-mobile);
    }
  }

  &__concats {
    display: flex;

    @include mobile {
      // margin-right: rem(30px);
      align-items: center;
    }
  }

  &__logo {
    width: rem(36px);
    height: rem(40px);
    flex-shrink: 0;

    @include tablet {
      margin-right: rem(30px);
    }

    @include mobile {
      display: none;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;

    @include tablet {
      display: none;

      position: absolute;
      transition: all 0.3s ease-in-out;
      flex-direction: column;
      background: $p-dark-color;
      top: 0;


      &.active {
        display: flex;
        z-index: 55;
        padding: rem(20px) rem(100px);
        width: calc(100% - rem(200px));
        right: 0;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__nav-item {
    margin-right: rem(30px);
    transition: color 0.3s ease-in;
    &:last-child {
      margin-right: 0;


    }
    &:hover {
      color: $p-accent-color;
      transition: color 0.3s ease-in;
      cursor: pointer;
    }

    @include tablet {
      margin-bottom: rem(24px);
      margin-right: 0;
      text-align: center;
    }
  }

  &__social {
    @include tablet {
      margin-left: rem(24px);
    }

    @include mobile {
      margin-left: 0;
    }
  }

  &__tels {
    display: flex;
    flex-direction: column;
    margin-left: rem(50px);

    @include tablet {
      order: -1;
      margin-left:0;
      margin-right: rem(50px);
    }

    @include tablet {
      margin-right: 0;
    }

    &-inner {
      display: flex;
      flex-direction: column;

      @include tablet {
        flex-direction: row;
        font-size: rem(16px);
        line-height: 110%;
      }

      @include mobile {
        flex-direction: column;
      }
    }
  }

  &__info {
    width: 100%;
    font-size: rem(12px);
    position: relative;
    transform: translateX(15px);
    line-height: 110%;
    

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: rem(-15px);
      width: rem(6px);
      height: rem(6px);
      border-radius: 100%;
      background-color: #62C766;
    }

    @include mobile {
      transform: translateX(0px);
    }
  }

  &__tel {
    transition: color 0.3s ease-in;
    line-height: 110%;
  

    @include mobile {
      font-size: rem(14px);
      margin-bottom: (4px);
    }
    &:first-child {
      margin-bottom: (8px);

      @include tablet {
        margin-bottom: 0;
        margin-right: rem(16px);
      }

      @include mobile {
        margin-right: 0;
        margin-bottom: (8px);
      }
    }

    &:hover {
      color: $p-accent-color;
      transition: color 0.3s ease-in;
    }
  }

}