.partners {
  padding: rem($p-padding-pc);
  background-color: #fff;

  @include tablet {
    padding: rem($p-padding-tablet);
  }

  @include mobile {
    padding: rem($p-padding-tablet) rem($p-padding-mobile);
  }

  &__list {
    max-width: calc(rem(1600px) - rem($p-padding-pc)*2);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem($p-padding-pc);
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      max-width: calc(rem(770px) - rem($p-padding-tablet)*2);
      margin-bottom: rem(60px);
    }

    @include mobile {
      max-width:100%;
      margin-bottom: rem(24px);
    }
  }

  &__item {
    margin-right: rem(40px);
    margin-bottom: rem(50px);
    max-height: rem(50px);

    @include tablet {
      height: rem(30px);
      margin-right: rem(10px);
      margin-bottom: rem(40px);
      width: rem(200px);
    }

    @include mobile {
      height: rem(25px);
      width: rem(160px);
      margin-right: 0;

      &:last-child {
      width: 100%;
      }
    }



    img {
      height: 100%;
      object-fit: contain;

      @include tablet {
        width: 100%;
      }
    }
  }
}