.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(1, 5, 13, 0.7);
backdrop-filter: blur(7px);
  opacity: 0; 
  pointer-events: none; 
  // transition: 0.5s all;
}

.popup__bg.active { 
  opacity: 1; 
  pointer-events: all; 
  z-index: 15;
  // transition: 0.5s all;
}

.popup {
  letter-spacing: -0.02em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: rem(500px);
  padding: rem(45px);
  border-radius: rem(15px);
  transition: 0.5s all;

  @include mobile {
    width: rem(323px);
    padding: rem(24px);
  }

  .input-wrap {
    max-width: 100%;
    margin-bottom: rem(16px);
  }
  
}

.popup.active { 
  transform: translate(-50%, -50%) scale(1); 
  transition: 0.5s all;
}

.close-popup {
  position: absolute;
  top: rem(24px);
  right: rem(24px);
  cursor: pointer;

  @include mobile {
    width: rem(15px);
    height: rem(15px);
    top: rem(22px);
    right: rem(22px);
  }
}

.popup__title {
  margin-bottom: rem(24px);
}

.popup__subtitle {
  margin-bottom: rem(16px);
  text-align: center;
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__form-wrap {
 width: rem(300px);
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile {
    flex-direction: column;
  }
}


.popup__input-wrap {
  width: 100%;

  @include mobile {
    margin-bottom: rem(10px);
  }

  .error-text {
    display: none;
  }

  &.error {
    
    .error-text {
      color: red;
      display: block;
    }
  }

  
}


.popup__btn {
  width: 100%;
  margin-top: rem(12px);
}




