.slider {
  padding:  rem($p-padding-pc) 0;
  padding-bottom: 0;
  position: relative;

  @include mobile {
    padding: rem($p-padding-tablet) 0;
  }

  &__title {
    margin-bottom: rem(24px);
  }

  &__subtitle {
    max-width: rem(575px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom:  rem(24px);
    font-size: rem(24px);
    line-height: 110%;
    text-align: center;

    @include mobile {
      font-size: rem(16px);
      line-height: 120%;
      max-width: 90%;
    }
  }

  &__countries {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(24px);

    @include mobile {
      flex-direction: column;
      font-size: rem(16px);
      line-height: 120%;
      align-items: flex-start;
      max-width: max-content;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0;
    }
  }

  &__country {
    position: relative;
    padding-left: rem(60px);
    margin-right: rem(10px);

    @include mobile {
      margin-right: 0;
      padding-left: rem(40px);
      margin-bottom: rem(16px);
     
    }

    &::before {
      content: '';
      position: absolute;
      left: rem(5px);
      top: 50%;
      transform: translateY(-50%);
      background-size: contain;
      background-repeat: no-repeat;
      width: rem(48px);
      height: rem(30px);
      border-radius: rem(4px);

      @include mobile {
        width: rem(40px);
        height: rem(20px);
        border-radius: 0;
      }
    }

    &.e {
      &::before {
        background-image: url('../../img/flag-europ.svg');
      }   
    }

    &.c {
      &::before {
        background-image: url('../../img/flag-china.svg');
      }   
    }

    &.t {
      &::before {
        background-image: url('../../img/flag-turkey.svg');
      }   
    }

    &.uk {
      &::before {
        background-image: url('../../img/flag-korey.svg');
      }   
    }
  }

  &__add {
    max-width: rem(500px);
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    @include mobile {
      font-size: rem(16px);
      line-height: 120%;
    }
  }



  &__slider {
/*     width: rem(1600px); */
    margin-right: auto;
    margin-left: auto;
    margin-top: rem(48px);
    height: rem(750px);
    max-width: rem(1100px);

    @include tablet {
      height: rem(530px);
      max-width: rem(750px);
    }

    @include mobile {
      height: rem(500px);
      max-width: rem(360px);
      margin-top: 0;
    }
   
  }

 

  &__slide {
    border-radius: rem(24px);
    position: relative;
    overflow: hidden;
  }

  &__img {
    object-fit: cover;
    width: rem(1000px);
    height: rem(600px);
    border-radius: rem(24px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      width: rem(650px);
      height: rem(400px);
    }

    @include mobile {
      width: 100%;
      height: rem(400px);
      object-fit: contain;
    }
  }

  &__slide-title-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: rem(60px);
    display: flex;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }
  }

  &__slide-title {
    background-color: transparent;
    color: $p-dark-color; 
    border: 1px solid $p-dark-color;
    width: max-content;
    border-radius: rem(8px);
    margin-right: rem(15px);
    height: rem(50px);
    width: rem(300px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;


    @include mobile {
      margin-right: 0;
      margin-bottom: rem(16px);
      height: rem(45px);
      font-size: rem(14px);
    }

  
  }

  &__slide-btn {
    @include mobile {
      width: rem(300px);
    }
  }
.swiper-pagination {
  bottom: 0;
  .swiper-pagination-bullet {
    width: rem(10px);
    height: rem(10px);
    background-color: $p-accent-color;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    width: rem(13px);
    height: rem(13px);
    opacity: 1;
  }

}

.swiper-button-next {
  right: rem(100px);
  color: $p-accent-color;

  @include tablet {
    right: 0;
    top: 33%;
  }

  @include mobile {
    display: none;
  }
}

.swiper-button-prev {
  left: rem(100px);
  color: $p-accent-color;

  @include tablet {
    left: 0;
    top: 33%;
  }

  @include mobile {
    display: none;
  }
}
}