.steps {
  background: linear-gradient(136deg, #1D1D1D 0%, #1D1D1D 100%);
  color: #fff;

  &__container {
    padding: rem($p-padding-pc);

    @include tablet {
      padding: rem($p-padding-pc) rem($p-padding-tablet);
    }

    @include mobile {
      padding: rem($p-padding-tablet) rem($p-padding-mobile);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: $p-margin-small;
  }

  &__item {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(48px);
    position: relative;

    @include mobile {
      &::before {
        content: '';
        position: absolute;
        background-image: url('../../img/line-steps.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: rem(145px);
        height: rem(2px);
        bottom: rem(-30px);
        left: 50%;
        transform: translateX(-50%);
      }
    }



    &:last-child {

      @include mobile {
        margin-bottom: 0 !important;

        &::before {
          display: none;
        }
      }

    }



    @include mobile {
      grid-column: span 6;
      margin-bottom: rem(55px);
    }

    &:nth-child(1),
    &:nth-child(2)
     {
      &::after {
        content: '';
        position: absolute;
        background-image: url('../../img/line-steps.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: rem(165px);
        height: rem(2px);
        right: rem(-80px);
        top: 33%;

        @include tablet {
          width: rem(125px);
          right: rem(-60px);
          top: 22%;
        }

        @include mobile {
          display: none;
        }
      }
    }

    &:nth-child(4) {
      &::after {
        content: '';
        position: absolute;
        background-image: url('../../img/line-steps.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: rem(165px);
        height: rem(2px);
        right: rem(-30px);
        top: 33%;

        @include mobile {
          display: none;
        }
      }
    }

    &:nth-child(4),
    &:nth-child(5) {
      grid-column: span 3;
      margin-bottom: 0;

      @include mobile {
        grid-column: span 6;
        margin-bottom: rem(55px);
      }
    }

    &:nth-child(4) {
      transform: translateX(rem(70px));

      @include tablet {
        transform: translateX(rem(50px));
      }

      @include mobile {
        transform: translateX(rem(0px));
      }
    }

    &:nth-child(5) {
      transform: translateX(rem(-70px));

      @include tablet {
        transform: translateX(rem(-50px));
      }

      @include mobile {
        transform: translateX(rem(0px));
      }
    }

    &-title {
      font-size: rem(100px);
      line-height: 110%;
      color: $p-accent-color;
      font-family: $p-font-medium;
      font-weight: 800;

      @include tablet {
        font-size: rem(70px);
      }
    }

    &-txt {
      font-size: rem(16px);
      line-height: 110%;
      text-align: center;
      max-width: rem(300px);

      @include tablet {
        font-size: rem(14px);
        max-width: rem(200px);
      }

      @include mobile {
        font-size: rem(16px);
        line-height: 130%;
        max-width: rem(300px);
      }

      a,
      span {
        display: inline;
        border-bottom: 1px  solid $p-accent-color;
      }
    }
  }

  &__btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    background-color: transparent;
    outline: 1px solid #fff;
    margin-bottom: rem(16px);

    @include mobile {
      width: 100%;
    }
  }

  &__btn-info {
    font-size: rem(14px);
    line-height: 110%;
    padding-left: rem(20px);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: rem(6px);
      height: rem(6px);
      border-radius: 100%;
      background-color: $p-accent-color;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}