
$b: '.social';

#{$b} {
  display: flex;
  align-items: center;

  &__item {
    width: rem(36px);
    height: rem(36px);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

/*     @include mobile {
      width: rem(30px);
      height: rem(30px);
    } */

    &.telegram {
      background-image: url('../../img/logo-telegram.svg');
      margin-right: rem(8px);
    }
    &.whatsapp {
      background-image: url('../../img/logo-w.svg');
    }
  }
}