@use 'sass:math';
@import 'scale/scale.scss'; 
@import 'scale/settings.scss'; 
@import 'scale/breakpoints.scss'; 

$root-font-size: 100;
$wide-desktop-width: 1920px;
$low-desktop-width: 900px;
$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 360px;

html {
  --root-font-size: #{$root-font-size}px;
  font-size: #{$root-font-size}px;

  @include low-desktop {
    $min-screen-width: 500;
    $mid-screen-width: 1550;

    @include css-lock(#{$min-screen-width * calc($root-font-size / $mid-screen-width)}, $root-font-size, $min-screen-width, $mid-screen-width);
  }


  @include tablet {
    $mid-screen-width: 768;
    $max-screen-width: 1023;

    @include css-lock(
      $root-font-size, #{$root-font-size * calc($max-screen-width / $mid-screen-width)},
      $mid-screen-width,
      $max-screen-width
    );
  }

  @include mobile {
    $min-screen-width: 300;
    $mid-screen-width: 360;
    $max-screen-width: 767;

    @include css-lock-full(#{calc($min-screen-width * $root-font-size / $mid-screen-width)}, $root-font-size, #{calc($max-screen-width * $root-font-size / $mid-screen-width)}, $min-screen-width, $mid-screen-width, $max-screen-width);
  }
}

main {
  max-width: rem(2500px);
  margin-right: auto;
  margin-left: auto;
}

main, header, footer {
  /* overflow: hidden; */
}

svg {
  width: 100%;
  height: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: $p-font-regular;
  font-size: rem(20px);
  line-height: 120%;
  // color:  #1B1F28;
  height: 100%;
  max-width: rem(2500px);
  width: 100%;
  margin: 0 auto;
  background-color: #F7F7F7;

 

  &.active {
   

    main {
      position: relative;
   

      &::after {
        content: '';
        position: absolute;
        background: rgba(1, 5, 13, 0.7);
        backdrop-filter: blur(rem(7px));
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

  }
}

.container {
  max-width: rem(1920px);
  margin: 0 auto;

}

.h1 {
  font-family: $p-font-medium;
  font-weight: 700;
  font-size: rem(48px);
  line-height: 110%;
  max-width: rem(960px);
  color: #f7f7f7;
  text-transform: uppercase;

  @include tablet {
    font-family: $p-font-regular;
    font-size: rem(32px);
    font-weight: 400;
    margin-bottom: rem(10px);
    margin-bottom: 0;
  }

  @include mobile {
    font-size: rem(24px);
  }
}

.h2 {
  font-family: $p-font-medium;
  font-size: rem(55px);
  line-height: 120%;
  text-align: center;
  margin-bottom: rem($p-margin-title);

  @include mobile  {
    font-family: $p-font-medium;
    font-size: rem(28px);
    line-height: rem(34px);
  }
}

.h3 {
  font-family: $p-font-medium;
  font-size: rem(22px);
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;

  @include mobile  {
    font-family: $p-font-medium;
    font-size: rem(20px);
    line-height: rem(26px);
    margin-bottom: rem(16px);
  }
}


.middle {
  margin-right: auto;
  margin-left: auto;
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(8px);
  width: rem(300px);
  height: rem(55px);
  font-size: rem(16px);
  line-height: 110%;
  font-family: $p-font-medium;
  transition: all 0.3s ease-in;
  color: #fff;
  background-color: $p-accent-color;
  text-transform: uppercase;


  @include mobile {
    width: rem(250px);
    height: rem(50px);
    font-size: rem(14px);
    line-height: rem(20px);
  }


  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in;
  }
}


.input {
  border: none;
  outline: 1px solid $p-text;
  height: rem(48px);
  font-family: $p-font-regular;
  font-size: rem(20px);
  line-height: rem(29px);
  border-radius: rem(8px);
  padding-left: rem(15px);
  vertical-align: middle;

  &::placeholder {
    font-family: $p-font-regular;
    font-size: rem(16px);
    line-height: rem(22px)
  }

  @include mobile {
    font-size: rem(14px);
    line-height: rem(18px);
  }


}


.txt-light {
  font-family: $p-font-regular;
  font-size: rem(16px);
  line-height: rem(22px);
  color: $p-text;
}


.input-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: rem(300px);

  label {
    font-size: rem(16px);
    margin-bottom: rem(4px);
    width: 100%;

  }
  

  &.error {
    .input-text {
      display: block;
    }

    .input {
      outline: 1px solid $p-text;
    }
  }

  &.confirm {
    .input-confirm  {
      display: block;
    }
  }

  .error-text {
    display: none;
  }

  &.error {
    
    .error-text {
      color: red;
      display: block;
    }
  }
}

.burger {
  width: rem(50px);
  height: rem(50px);
  border-radius: 100%;
  border: rem(1px) solid #fff;
  position: relative;
  z-index: 55;
  margin-left: auto;
  display: none;
  flex-shrink: 0;

  @include tablet {
    display: block;
  }

  @include mobile {
    width: rem(40px);
    height: rem(40px);
    border: none;
    background-color: transparent;
    margin-left: rem(25px);
  }

  &:hover {
    cursor: pointer;
    background-color: #1B1F28;
    transition: all 0.3s ease-in;


    span {
      background-color: #fff;
      transition: all 0.3s ease-in;
    }
  }

  span {
    display: inline-block;
    height: rem(2px);
    width: rem(23px);
    border-radius: rem(50px);
    position: absolute;
    left: rem(13px);
    transition: all 0.3s ease-in;
    background-color: #fff;
    
     @include mobile {
      background-color: #fff;
      height: rem(2px);
      width: rem(18px);
      left: rem(10px);
    } 
    &:nth-child(1) {
      top: rem(16px);

      @include mobile {
        top: rem(13px);
      } 
    }

    &:nth-child(2) {
      top: rem(23px);

      @include mobile {
        top: rem(19px);
      } 
    }

    &:nth-child(3) {
      top: rem(30px);
      width: rem(15px);
      color: $p-dark-color;

     @include mobile {
        width: rem(9px);
        top: rem(25px);
        color: $p-dark-color;
      } 
    }
  }

  &.active { 
    span {
      transition: all 0.3s ease-in;
      top: rem(27px);
      left: rem(15px);
      color: $p-dark-color;
      background-color: #fff;
  
      &:nth-child(1) {
        transform: rotate(-45deg);


        @include tablet {
          left: rem(12px);
          top: rem(22px);
          width: rem(25px);
        }

        @include mobile {
          left: rem(7px);
          top: rem(18px);
        }
      }
  
      &:nth-child(2) {
        opacity: 0;
        height: 0;
        visibility: hidden;
      }
  
      &:nth-child(3) {
        transform: rotate(45deg);
        width: rem(25px);

        @include tablet {
          left: rem(12px);
          width: rem(25px);
          top: rem(22px);
        }

        @include mobile {
          left: rem(7px);
          top: rem(18px);
        }
      }
    }
  }
 }

 .check-policy {
  display: none;

  &.active {
    display: block;
    font-size: rem(12px);
    line-height: 120%;
    margin-top: rem(12px);
    color: $p-accent-color;
  }
 }




