$p-text: #2C2C2C;

$p-font-regular:  'Gilroy-Regular';
$p-font-medium:  'Gilroy-Medium';

$p-margin-big: 160px;
$p-margin-small: 80px;

$p-padding-pc: 120px;
$p-padding-tablet: 36px;
$p-padding-mobile: 16px;


$p-accent-color:  #D62828;
$p-dark-color: #1D1D1D;

$p-background-gradient: linear-gradient(134deg, #1D1D1D 0%, #393939 100%);










